# Get the required schnetpack version
schnetpack==1.0.1

# Further dependencies of current project
torch-geometric
torch-sparse
torch-scatter
rdkit
pandas

networkx
git+https://github.com/jensengroup/xyz2mol@v0.1.2#egg=xyz2mol

build
